<div class="jumbotron" align="center" style="height:450px; color: #fff; background-image: url(http://blog.dreamix.eu/wp-content/uploads/2015/06/hi-tech-apple-keyboard-mouse-hd-wallpaper-1508x706_c.jpg);">
    <br />
    <h1>EXERCÍCIO ASP.NET</h1>
    <h3>Com AngularJs</h3>
    <p><a href="https://github.com/RodrigoNeuber/ExAngularJs" class="btn btn-primary btn-lg">Projeto no GitHub</a></p>
    <br /> <br />
    <h4>Rodrigo Neuber | Sandra kawakame | Talita Mendes</h4>
</div>
<div class="row">
    <div class="col-md-4">
        <h2></h2>
    </div>
    <div class="col-md-4">
        <h2></h2>   
    </div>
    <div class="col-md-4">
        <h2></h2>
    </div>
</div>
